
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #f3f4f4;
}


#no-copy {
    user-select: none;
  }
  #no-copy::selection {
    background: none;
  }
  #no-copy::-moz-selection {
    background: none;
  }

section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.img-column{
    text-align: center;

}
.img-card{
    display: inline-block;
}
.background-img{
  margin-left: 280px;
  max-width: 60%;
}

.images{
    width: 500px;
    height: 500px;
}




/* Mobile */ 

@media screen and(min-width: 768px) {
    .images {
        text-align: center;
    }

}




