// Fonts
$main-font: Francois One, sans-serif;
$nav-font: Quicksand, sans-serif;
$header-font: Changa One, cursive;
$text-font: Open Sans Condensed, sans-serif;
$button-font: Titillium Web, sans-serif;

// Colours
//Light 
$h2-colour: #FEBA4F;
$h3-colour: #FEBA4F;
$p-colour: #313639;
$a-colour: #313639;
$title-colour: #989da6;
$text-colour-orange: #cc5500;
$heading-colour: #313639;
$nav-colour: #0f4c81;
$border-colour: #313639;
$text-colour: #313639;
$bg-light-colour: #e5e4e2;
$bg-shadow: rgba(255, 255, 255, 0.1);
$box-shadow: rgba(0, 0, 0, 0.2);
$hover-colour: #c8ddc8;


// dark

$bg-colour: #313639;
// Colours

//    | Jean: #989da6
//    | Camel: #ae988a
//    | Burnt Orange: #cc5500
//    | Blush: #de5d83
//    | Off Black: #313639
//    | Clay: #715444
//    | Classic Blue: #0f4c81
//    | Peacock: #33A1C9
// #99b898
// #fecea8
// #ff847c
// #e84a5f
// #2a363b

// font-family: Cormorant Garamond, serif;
// font-family: Francois One, sans-serif;
// font-family: Open Sans Condensed, sans-serif;
// font-family: Poiret One, cursive;
// font-family: Quicksand, sans-serif;


// body{
    
//    background: 
//    linear-gradient(90deg,rgb(42, 54, 59),rgb(8, 10, 11)),
//    repeating-linear-gradient(90deg,rgb(38, 49, 54) 0%,rgb(33, 43, 47) 7%, transparent 7%, transparent 14%, rgb(29, 37, 41) 14%, rgb(25, 32, 35) 15%,transparent 15%, transparent 20%),
//    repeating-linear-gradient(-90deg, rgba(21, 27, 29, 1) 0%,rgba(16, 21, 23, 1) 5%,transparent 0%, transparent 10%);
//}