
// Fonts
$main-font: Francois One, sans-serif;
$nav-font: Quicksand, sans-serif;
$header-font: Changa One, cursive;
$text-font: Open Sans Condensed, sans-serif;
$button-font: Titillium Web, sans-serif;


// Colours 

$title-colour:#989da6;
$text-colour-orange: #cc5500;
$heading-colour: #313639;
$nav-colour: #0f4c81;
$border-colour: #313639;
$text-colour: #313639;
$bg-colour: #313639;


// Colours

//    | Jean: #989da6 
//    | Camel: #ae988a 
//    | Burnt Orange: #cc5500 
//    | Blush: #de5d83 
//    | Off Black: #313639
//    | Clay: #715444
//    | Classic Blue: #0f4c81
//    | Peacock: #33A1C9

// font-family: Cormorant Garamond, serif;
// font-family: Francois One, sans-serif;
// font-family: Open Sans Condensed, sans-serif;
// font-family: Poiret One, cursive;
// font-family: Quicksand, sans-serif;







