.footer-class{
    text-align: center;
    font-family: $nav-font;


    a{
        padding:30px;
        font-family: $text-font;
        text-decoration:none;
        font-size:2em;
      }   
    }
    
    .footer-grid ul li a,
    .footer-grid ul li {
        background-color: rgba($color: #FFF, $alpha: 0.5);
        display: inline-block;
        color: $text-colour;
        font-size: 14px;
        letter-spacing: 2px;
        list-style: none;
    }
    
    .footer-grid ul li a:hover {
        opacity: .8;
        letter-spacing: 2px;
    }
    .hr-footer{
        text-align: center;
        height: 1px;
        width: 50%;
        margin-top: -15px;
    }