.header-name {
    font-size: 6em;
    text-align: center;
    margin-top: -350px;
    margin-left: 20%;
    font-family: $header-font;
    padding: 1rem;
    width: 800px;
    color: $heading-colour;
}
.header-text{
    text-align: center;
    margin-top: -75px;
    font-size: 1em;
    font-family: $text-font;
    color:$text-colour;
    
}

.header-img{
    width: 350px;
    position: absolute;
    top:15%;
    left: 38%;
    border-radius: 50%;
}