
.header-text{
    padding: 300px;
    text-align: center;
    font-size: 1em;
    font-family: $text-font;
    color:$text-colour;
    
}

.header-img{
    text-align: center;
    width: 350px;
    position: absolute;
    top:10%;
    left: 38%;
    border-radius: 50%;
}