
nav{
    text-align: center;
    a{
    text-align: center;
    display:inline-block;
    margin: 20px;
    text-decoration: none;
    font-size: 14px;
    color:$heading-colour;
    font-family: $text-font;
    letter-spacing: 2px;
    }
}
a:hover {
    opacity: .7;
}




/*  mobile */ 

@media (max-width: 600px) {
    nav {
      display: inline-block;
      margin-left: 50px;
    }
  }