
nav{
    margin-left: 300px;
    text-align: center;
    width: 750px;
    a{
    text-align: center;
    display:inline-block;
    margin: 20px;
    text-decoration: none;
    font-size: 14px;
    color:$heading-colour;
    font-family: $text-font;
    letter-spacing: 2px;
    }
}
a:hover {
    opacity: .7;
}


.scroll-arrow{
    width: 50px;
}


