
nav{
    margin-left: 300px;
    text-align: center;
    width: 750px;
    a{
    text-align: center;
    display:inline-block;
    margin: 20px;
    text-decoration: none;
    font-size: .7em;
    color:$nav-colour;
    font-family: $nav-font;
    font-weight: 100;
    }
}
a:hover {
    opacity: .7;
}


.scroll-arrow{
    width: 50px;
}
