.card {
  display: inline-block;
  padding: 10px;
  width: 320px;
  height: 280px;
  color: $text-colour;
  margin-left: 30px;
  border: 1px solid $text-colour;
  

  .card-img {
    width: 300px;
    transition: transform 0.3s;
  }
}
.card-img:hover {
  transform: scale(1.5);
}
.card-text {
  font-size: 1em;
  font-family: $text-font;
}

p {
  font-size: 0.8em;
  
}

.btn-1,
.btn-2 {
  color: $text-colour;
  background-color: white;
  font-size: 16px;
  border: 1px solid $bg-colour;
  margin: 10px;
  padding: 2px;
  text-decoration: none;
  font-family: $text-font;
  text-align: center;
  
}
.btn-1:hover, .btn-2:hover {
  color: white;
  background-color: $bg-colour;
  border: 1px solid $bg-colour;
  opacity: 2;
}


/*  mobile */ 

@media (max-width: 600px) {
  .card {
    text-align: center;
    margin-left: -30px;
    margin-bottom: 20px;
  }
  .card-row-2{
    margin-left: -40px;
  }
  .card-row-4{
    margin-left: -40px;
  }
}