.contact-row {
  margin-bottom: 150px;
  background-color: $bg-colour;
  text-align: center;
  
}
.contact{
  background-color: white;
  
  
}
.contact-header {
  margin-top: 0px;
  color: black;
  font-family: $nav-font;
  font-size: 5em;
  
}
.contact-p {
  font-size: 18px;
  
}
.contact-form {
margin-left: 350px;
  font-family: $nav-font;
  font-size: 20px;
  color: black;
  height: 30px;
}
input,
textarea {
  background: $bg-colour;
  border: none;
  
}

.error {
  color: $title-colour;
  display: inline-block;
  font-size: 10px;
  margin-left: 400px;
  &__border {
    border: 1px solid red;
  }
  &__hide {
    display: none;
  }
}
.btn-contact {
  font-family: $button-font;
  color: black;
  width: 220px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn-contact:hover {
  opacity: 50%;
}
