
.contact {
  background-color: white;
}

.contact-form{
  font-family: $text-font;
  font-size: 20px;
  color: $text-colour;
  
}
.contact-mail {
  font-family: $text-font;
  font-size: 20px;
  color: $text-colour;
  height: 30px;
  margin-left: 200px;
}
input,
textarea {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}
.error {
  margin-left: 10px;
  color: $text-colour-orange;
  opacity: 0.2;
  font-size: 10px;
  &__border {
    border: 1px solid red;
  }
  &__hide {
    display: none;
  }
}
.btn-contact {
  opacity: .3;
  background-color: #cc5500;
  font-family: $button-font;
  color: black;
  width: 220px;
  height: 50px;
}
.btn-contact:hover {
  opacity: 50%;
}

    /* mobile */ 

  @media (max-width: 600px) {
 .contact-1{
   position: relative;
   left: -20px;
 }
 .contact-2{
   position: relative;
   left: -20px;
 }
 .contact-3{
   position: relative;
   left: -20px;
 }
 .contact-4{
   position: relative;
   left: -20px;
 }
 .contact-row{
   background: none;
 }
 .btn-contact{
 position: relative;
 left: -100px;
 top: 20px;
 }
    }