
hr{height: 20px; background-color: $bg-colour; border: none;;}


.container{
    background-color: white;
    
}

.profil{
    height: 200px;
    width: 100%;
    margin-bottom: 110px;
}

.resume-img{
    width: 200px;
    position: relative;
    top: -150px;
    left: -330px;
    border-radius: 50%;
}
.info-text{
    position: relative;
    top: 50px;
    left: -30px;
    height: 40px;
    width: 300px;
    font-size: 2em;
    background-color: white;
    color: $text-colour;
    font-family: $text-font;
}
.about{
    margin-left: 100px;
}
.about-text{
    font-family: $text-font;
    padding-top: 50px;
    font-size: 1.5em;
    margin-left: 450px;
    margin-right: 100px;
    text-align: center;
}
.col-sm-6{
    text-align: center;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}

li{
    text-align: left;
    list-style-type: disclosure-closed;
    padding: 10px;
    border-bottom: 1px solid;
    font-family: $text-font;

}

.info-text-work,
.info-text-edu{
    width: 300px;
    position: relative;
    top: -60px;
    background-color: white;
    color: $text-colour;
    font-family: $text-font;
}