hr {
  height: 20px;
  background-color: $bg-colour;
  border: none;
}
.hr-edu{
  margin-top: 200px;
}
.container {
  background-color: white;
  padding: 0;
}



.col-sm-6 {
  text-align: center;
  display: inline-block;
  

}

.profil {
  height: 200px;
  width: 100%;
  margin-bottom: 100px;
}

.resume-img {
  width: 200px;
  position: relative;
  top: -200px;
  left: -400px;
  border-radius: 50%;
}
.info-text {
  position: relative;
  top: 50px;
  left: -60px;
  height: 40px;
  width: 300px;
  font-size: 2em;
  background-color: white;
  color: $text-colour;
  font-family: $text-font;
}

.about {
  margin-left: 100px;
  padding-top: 20px;
}
.about-text {
  padding-top: 0px;
  padding-bottom: 50px;
  font-family: $text-font;
  font-size: 1.5em;
  margin-top: 100px;
  margin-left: 450px;
  margin-right: 100px;
  text-align: center;
}

.info-text-work{
  background-color: white;
  color: $text-colour;
  font-family: $text-font;
  width: 300px;
  position: relative;
  top: -120px;
  left: 700px;
}
.info-text-edu {
  width: 300px;
  position: relative;
  left: 120px;
  top: -60px;
  background-color: white;
  color: $text-colour;
  font-family: $text-font;
}


/*  mobile */ 

@media (max-width: 600px) {
  .about{
    margin-top: 100px;
  }
  .about-text {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 50px;
  }
  .skola{
    margin-left: -100px;
  }.info-text-edu{
    text-align: center;
    margin-top: 100px;
    margin-left: -100px;
  }
  .info-text-work{
    position: relative;
    left: 30px;
    top: 500px;

  }
  .jobb{
    margin: 40px;
  }
  .resume-img{
    margin-top: 40px;
    position: absolute;
    left: 25%;
    top: 50px;
  }

}