.resume-container{
  margin-top: -50px;
  padding-bottom: 50px;
  margin-left: 50px;
  animation: resumeAni 3s cubic-bezier(.42,0,.58,1) backwards;
  
}


@keyframes resumeAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.resume-cards{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
@media only screen 
and (min-width : 1824px) {
  .resume-container{
    margin-top: 30px;
}
}

@media only screen     
and (max-device-width : 1024px) {
  .resume-container{
    margin-top: 50px;
}
}
@media only screen     
and (max-device-width : 760px) {
.resume-cards{
  display: list-item;
 margin-left: 40px;
 
}
}